@{ ViewBag.Title = "About Us"; }

<style>
    h2 {
        text-align: center;
        font-style: italic;
    }

    #c {
        border: 1px solid black;
        padding: 20px;
    }

    body {
        background-color: #CBDCDA;
    }
</style>

<header>
    <img src="images/head.jpg" height="250px" width="100%" />
</header>


<body>
    <h2>Contact Info</h2>
    <hr />

    <div id="c">
        <h3>Pro Tech Gear-New York City</h3>
        <img src="images/aboutus.jpg" />
        <p>JFK Avenue 4 Local 3 5434</p>
        <p>Phone number: +1 586 344 412</p>
        <p>Email Address: geartechny@yahoo.com</p>

    </div>
    <hr />
    <br /><br /><br />

    <div id="c">
        <h3>Pro Tech Gear-London</h3>
        <img src="images/aboutus2.jpg" />
        <p>Oxford street, 5612, Brick road 13</p>
        <p>Phone number: +1 587 214 412</p>
        <p>Email Address: geartechlon@yahoo.com</p>
        <hr />
    </div>
</body>